/*stylesheet*/

/* vars */
:root {
	--background-color: #yellow;
	--body-color: #fff;
}

body {
	margin: 0;
	background-image: url("../images/story.mp4");
	background-position: center;
}

	#wrapper {
		margin:  0 auto;
		max-width:  1200px;
	}

	.project {
  display: flex;
  align-items: center;
  height: 100vh;
}

.project-inner {
  position: relative;
}

.poem-title {
	text-align: center;
}

h2 {
	font-size: 3em;
	font-style: italic;
}