/*stylesheet*/

/* vars */
:root {
	--background-color: #yellow;
	--body-color: #fff;
}

body {
	margin: 0;
	color: light green(--body-color);
	background: light orange(--background-color);
	}

	#wrapper {
		margin:  0 auto;
		max-width:  1200px;
	}